<section id="pvpaissa-navigation">
    <nav class="navbar navbar-expand-lg navbar-pvpaissa navbar-bg-main fixed-top">
        <a class="navbar-brand" href="/league">
            <img src="/themes/pvpaissa-organization/assets/images/aether-league-logo.png" height="36"
                 class="d-inline-block align-top" alt="Aether League">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLeague"
                aria-controls="navbarLeague" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarLeague">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if this.page.url == '/league/stats' %} active{% endif %}">
                    <a class="nav-link" href="/league/stats">Statistics
                        {% if this.page.url == '/league/stats' %} <span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
                <li class="nav-item{% if this.page.url == '/league/schedule' %} active{% endif %}">
                    <a class="nav-link" href="/league/schedule">Schedule
                        {% if this.page.url == '/league/schedule' %} <span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
                <li class="nav-item{% if this.page.url == '/league/standings' %} active{% endif %}">
                    <a class="nav-link" href="/league/standings">Standings
                        {% if this.page.url == '/league/standings' %} <span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
                <li class="nav-item{% if this.page.url == '/league/rules' %} active{% endif %}">
                    <a class="nav-link" href="/league/rules">Rules
                        {% if this.page.url == '/league/rules' %} <span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
            </ul>
            <div class="wpd-brand">
                <a class="navbar-brand" href="/guides">
                    <img src="/themes/pvpaissa-organization/assets/images/wolf-pups-den-logo.png" height="36"
                         class="d-inline-block align-top" alt="Wolf Pups Den">
                    <span class="d-xs-inline d-md-none">Wolf Pups Den Guides</span>
                </a>
            </div>
            <div class="pvpaissa-brand mr-2">
                <a class="navbar-brand" href="/">
                    <img src="/themes/pvpaissa-organization/assets/images/paissa-logo.png" height="36"
                         class="d-inline-block align-top" alt="PvPaissa">
                    <span class="d-xs-inline d-md-none">PvPaissa</span>
                </a>
            </div>
            <ul class="navbar-nav mt-2 mt-md-0 ml-md-2">
                {% if user %}
                <li class="nav-item">
                    <a class="nav-link" href="/account"><img class="navbar-avatar"
                                                             src="{{ user.getAvatarThumb(25) }}"
                                                             title="Account"></a>
                </li>
                <li class="nav-item">
                    <a id="sign-out-link" class="nav-link" href="#" data-request="onLogout" title="Sign Out"><i
                            class="fa fa-sign-out"></i></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/account">Login / Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</section>