<div id="pvpaissa-footer">
    <div class="container">
        <div class="footer-social-media row">
            <div class="col-md-4 ml-auto">
                <div class="d-flex justify-content-between pb-3">
                    <p class="text-uppercase">Follow us:</p>
                    <a href="https://www.youtube.com/pvpaissa" title="YouTube" target="_blank"
                       class="d-block" rel="noopener">
                        <img src="/themes/pvpaissa-organization/assets/images/social/youtube.png"
                             alt="PvPaissa YouTube Channel">
                    </a>
                    <a href="https://twitter.com/pvpaissa" title="Twitter" target="_blank"
                       class="d-block" rel="noopener">
                        <img src="/themes/pvpaissa-organization/assets/images/social/twitter.png"
                             alt="PvPaissa Twitter">
                    </a>
                    <a href="https://www.twitch.tv/pvpaissa" title="Twitch.tv" target="_blank"
                       class="d-block" rel="noopener">
                        <img src="/themes/pvpaissa-organization/assets/images/social/twitch.png"
                             alt="PvPaissa Twitch Channel">
                    </a>
                </div>
            </div>
        </div>
        <div id="menu-footer-nav" class="row">
            <div class="list-group list-group-flush col-sm mb-3">
                <a class="list-group-item category-title" href="/guides"><h5>Wolf Pups Den</h5></a>
                <a class="list-group-item" href="/guides/general">General Guides</a>
                <a class="list-group-item" href="/guides/tank">Tank Guides</a>
                <a class="list-group-item" href="/guides/healer">Healer Guides</a>
                <a class="list-group-item" href="/guides/melee">Melee Guides</a>
                <a class="list-group-item" href="/guides/ranged">Ranged Guides</a>
            </div>

            <div class="list-group list-group-flush col-sm mb-3">
                <a class="list-group-item category-title" href="/rankings"><h5>Rankings</h5></a>
                <a class="list-group-item" href="/feast/solo">Solo Queue</a>
                <a class="list-group-item" href="/feast/party">Light Party</a>
                <a class="list-group-item" href="/frontlines">Frontlines</a>
                <a class="list-group-item" href="/winners/list">Event Winners</a>
            </div>

            <div class="list-group list-group-flush col-sm mb-3">
                <a class="list-group-item category-title" href="/calendar"><h5>Events</h5></a>
                <a class="list-group-item" href="/events/list">Browse Events</a>
                <a class="list-group-item" href="/events/submit">Submit Events</a>
                <a class="list-group-item" href="/events/frontline">Daily Challenge: Frontline</a>
            </div>

            <div class="list-group list-group-flush col-sm mb-3">
                <a class="list-group-item category-title" href="/community"><h5>Community</h5></a>
                <a class="list-group-item" href="/streams">Streams</a>
                <a class="list-group-item" href="/discord">Discord</a>
                <a class="list-group-item" href="/podcasts">Podcasts</a>
                <a class="list-group-item" href="/videos">Video Content</a>
            </div>

            <div class="list-group list-group-flush col-sm mb-3">
                <a class="list-group-item category-title" href="/about"><h5>About Us</h5></a>
                <a class="list-group-item" href="/staff">Staff Members</a>
                <a class="list-group-item" href="/submit">Submit Content</a>
                <a class="list-group-item" href="/apply">Apply to Staff</a>
            </div>
        </div>
    </div>
</div>