#article-wrapper {
  .lead,
  .tags {
    margin-bottom: 0;
  }
}

#article-content {
  margin-bottom: 3rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background: $black;
  color: $white;

  article {
    &:after {
      content: '...';
      display: block;
      margin: 0 auto;
      color: $secondary;
      position: relative;
      font-size: 30px;
      letter-spacing: .75em;
      text-align: center;
    }

    a {
      color: $primary;
      text-decoration: underline;
    }

    img {
      max-width: 100%;
    }

    .table {
      background-color: rgba(57, 63, 77, 0.3);
      color: $white;
    }
    .table th,
    .table td {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid $secondary;
    }

    blockquote {
      background-color: rgba(57, 63, 77, 0.3);
      border-left: 10px solid $primary;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      quotes: "\201C""\201D""\2018""\2019";

      &:before {
        color: $primary;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
      }

      p {
        display: inline;
      }
    }

    pre {
      background-color: rgba(57, 63, 77, 0.3);
      border-left: 10px solid $primary;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      color: $white;

      code {
        display: inline;
      }
    }

    & > p:first-child:first-letter {
      color: $primary;
      float: left;
      font-size: 3rem;
      line-height: 2.5rem;
      padding-top: .25rem;
      padding-right: .5rem;
    }
  }
}

#related-articles .related {
  flex-flow: row wrap;

  .article {
    position: relative;
    margin-bottom: 15px;
    min-width: 0;
    word-wrap: break-word;
    border-radius: 0;

    .article-img-top {
      width: 100%;
      height: 250px;
      object-fit: cover;
      object-position: 50% 50%;
    }

    .article-tag-date {
      display: flex;
      margin: .5rem 0 0;
    }

    .article-tag {
      padding: 2px 14px;
      background: $primary;
      color: $secondary;
      font-size: .8rem;
      font-weight: 400;
      text-transform: uppercase;

      a {
        color: $secondary;
      }
    }

    .article-date {
      padding: 2px 14px;
      color: $primary;
      font-size: .8rem;
    }

    .article-tag,
    .article-date {
      margin-bottom: .5rem;
    }

    .article-body {
      flex: 1 1 auto;
      padding: 0 0 1.25rem;
    }

    .article-title {
      margin-bottom: .1rem;
    }
    .article-title a {
      color: $white;
    }

    .article-text {
      color: $white;
    }
    .article-text:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 991px) {
  #related-articles {
    background: linear-gradient(to bottom, rgba($white, .05), rgba($white, 0));
  }
}

@media screen and (max-width: 768px) {
  #article-content {
    article > p:first-child:first-letter {
      font-size: 5rem;
      line-height: 4rem;
      padding-top: .25rem;
      padding-right: .5rem;
    }
  }
}

@media screen and (min-width: 992px) {
  #related-articles .related .article .article-img-top {
    height: 190px;
  }
}

@media screen and (min-width: 576px) {
  #article-content {
    position: relative;
    margin-top: -3rem;
    border: 1px solid #393F4D;
  }
}
