body {
  background: linear-gradient(315deg, #393F4D 0%, #000000 100%);
  font-weight: 300;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba($primary, .33);
  margin: 1em 0;
  padding: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto rgba($primary, .33);
}

.sub-box {
  height: 1px;
  width: 65px;
  background-color: $primary;
}

/* Hero Images */
.carousel-item img,
.hero-content img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
  filter: brightness(50%);
}

#site-map {
  padding: 2rem 0 1rem;
  font-size: 1rem;
  background: linear-gradient(355deg, rgba(19, 19, 19, 0.9) 0%, #131313 100%);
  border-bottom: 1px solid $secondary;

  a {
    font-weight: 300;
  }
}

#footer {
  padding: 2.25rem 0 3rem;
  background: $black;

  a {
    color: $white;
    text-decoration: none;
  }
  a:hover {
    color: $primary;
  }

  h4 {
    margin: 0!important;
    color: $white;
    font-size: .8rem;
    text-transform: uppercase;
  }

  .footer-paissa svg {
    margin-bottom: 1rem;
    color: $white;
  }

  .footer-paissa:hover svg {
    color: $primary;
  }

  .copyright-text {
    color: $white;
    font-size: .8rem;
  }
}

#footer-social {
  h4, a {
    padding: 0 .5rem;
  }
}

/* Base Components */
.basic-page {
  margin-top: 90px;
  margin-bottom: 5rem;
}

.page-title {
  margin-bottom: 1.5rem;

  h1 {
    color: $white;
    text-transform: uppercase;
  }
}

.basic-content {
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background: $black;
  color: $white;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0;

  li {
    &:first-child {
      a {
        margin-left: 0;
      }
    }

    &.active {
      padding: .5rem;
      margin: .25rem;
      background: $black;
      color: $primary;
      border: 1px solid $primary;
    }

    &.disabled {
      display: none;
      color: $white;
      padding: .5rem;
      border: 1px solid $white;
      margin: .25rem;
    }

    span {
      position: relative;
      display: block;
      cursor: auto;
    }

    a {
      position: relative;
      display: block;
      margin: .25rem;
      padding: .5rem;
      border: 1px solid $secondary;
      text-decoration: none;
      transition: background-color .3s;

      &.active {
        border: 1px solid $primary;
        background-color: $primary;
        color: $white;
      }

      &:hover {
        color: $black;
        font-weight: 400;
        background-color: $primary;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .side-bar {
    padding-top: 1.5rem;
    background: linear-gradient(to bottom, rgba($white, .05), rgba($white, 0));
  }
}

@media screen and (max-width: 768px) {
  .bg-darkNavbar {
    background: rgba($black, 0.33);
  }

  .bg-md-dark {
    background: rgba($black, 0.33);
  }

  .btn-md-block {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .basic-content {
    border: 1px solid #393F4D;
  }
}