#recent-updates {
  padding: 2rem 0 1rem;
  background: url("../images/jobs-bg.png") no-repeat fixed center center,
  linear-gradient(315deg, #393F4D 0%, #000000 100%);

  h4 {
    color: $white;
    text-transform: uppercase;
  }
  h4:hover {
    color: $primary;
  }

  a:hover {
    text-decoration: none;
  }
}

.recent-articles {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;

  .article {
    max-width: 500px;

    .article-img-top {
      height: 250px;
    }

    .article-tag,
    .article-date {
      margin-bottom: 1rem;
    }

    .article-title {
      margin-bottom: 1rem;
    }
  }
}

@media screen and (min-width: 576px) {
  .recent-articles {
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;

    .article {
      display: flex;
      flex: 1 0 0;
      flex-direction: column;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px;
    }
  }
}