@import "../../resources/css/bootstrap/bootstrap";
@import '../../resources/css/fontawesome/fontawesome';

body {
  background: linear-gradient(315deg, #393F4D 0%, #000000 100%);
}

.mt-zero {
  margin-top: 0!important;
}

#pvpaissaNavigation {
  a {
    color: rgba(255, 255, 255, 0.9);
  }
  a:hover,
  a.active > .fa-user {
    color: $primary;
  }

  .navbar {
    background: rgba(0, 0, 0, .33);
    padding: 5px 1rem;
  }

  #pvpaissaSearch {
    display: flex !important;
    background: rgba(216, 216, 216, .33);

    .form-control {
      background: transparent;
      border: 1px solid transparent;
      color: rgba(255, 255, 255, .9);
    }

    .btn-search {
      color: #FFF;
      background-color: transparent;
      background-image: none;
      border-color: transparent;
    }
    .btn-search:hover {
      color: $primary;
      background-color: transparent;
      background-image: none;
      border-color: transparent;
    }
  }

  .navbar-toggler {
    border-color: rgba(216, 216, 216, .33);
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-brand svg {
    padding-top: 0.3125rem;
    fill: #D4D4DC;
  }
  .navbar-brand:hover svg {
    fill: $primary;
  }

  .fa, .fas, .far, .fal, .fab {
    line-height: 1.5 !important;
  }

  .dropdown-menu {
    background: rgba(57, 63, 77, 0.3);
  }

  .dropdown-item {
    border-left: 1px solid rgba(0, 255, 255, 0);
  }

  .dropdown-item:hover,
  .dropdown-item:focus {
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
    border-left: 1px solid $primary;
  }
}

/* Carousel */
.carousel-item img,
#eventsHeader img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
  filter: brightness(33%);
}

.carousel-caption {
  right: 15%;
  bottom: 15%;
  left: 5%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #D4D4DC;
  text-align: left;

  h4 {
    font-size: 40px;
    font-weight: 900;
  }

  .btn-outline-primary {
    border-width: 2px;
    background: rgba(57, 63, 77, .3);
    text-transform: uppercase;
  }
  .btn-outline-primary:hover,
  .btn-outline-primary:focus {
    background: $primary;
    color: rgba(57, 63, 77, .8);
  }
}

.carousel-indicators .active {
  background-color: $primary;
}

#recent-updates {
  padding: 2rem 0 1rem;
  background: url("../images/latest-news-bg.png") no-repeat center center,
              linear-gradient(315deg, #393F4D 0%, #000000 100%);

  h4 {
    color: #D4D4DC;
    text-transform: uppercase;
  }
  h4 a:hover {
    text-decoration: none;
  }
  .sub-box {
    height: 1px;
    width: 65px;
    background-color: $primary;
  }
}

.recent-articles {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;

  .article {
    position: relative;
    max-width: 500px;
    margin-bottom: 15px;
    min-width: 0;
    word-wrap: break-word;
    border-radius: 0;

    .article-img-top {
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }

    .article-tag-date {
      display: flex;
      margin: 1rem 0 .5rem;
    }

    .article-tag {
      padding: 2px 14px;
      background: $primary;
      color: $secondary;
      font-size: .8rem;
      text-transform: uppercase;
    }

    .article-date {
      padding: 2px 14px;
      color: $primary;
      font-size: .8rem;
    }

    .article-body {
      flex: 1 1 auto;
      padding: 0 0 1.25rem;
    }

    .article-title {
      margin-bottom: 1rem;
    }
    .article-title a {
      color: #D4D4DC;
    }

    .article-text {
      color: #D4D4DC;
    }
    .article-text:last-child {
      margin-bottom: 0;
    }
  }
}

#footer {
  padding: 1rem 0;
  font-size: 1rem;
  background: #131313;

  #footer-logo {
    margin-bottom: 1rem;
    color: #D4D4DC;
  }

  .copyright-text {
    color: #D4D4DC;
  }
}

@media screen and (max-width: 991px) {
  #pvpaissaSearch {
    width: 350px;

    .form-control {
      width: 305px;
    }
  }
}

@media screen and (max-width: 768px) {
  .bg-darkNavbar {
    background: rgba(0, 0, 0, 0.33);
  }

  .bg-md-dark {
    background: rgba(0, 0, 0, 0.3);
  }

  .carousel-caption {
    top: 33%;
    right: 0;
    left: 0;
    min-height: 210px;
  }
}

@media (min-width: 576px) {
  .recent-articles {
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;

    .article {
      display: flex;
      flex: 1 0 0;
      flex-direction: column;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px;
    }
  }
}

