/* General Styles */
body {
    font-family: Raleway, sans-serif;
    padding-top: 42px;
    background: linear-gradient(#f0ece2, #e2dedb) #fff;
}

a {
    color: #c7b198;
}

a:hover {
    color: #65584c;
}

/* Navbar */
#pvpaissa-navigation .navbar {
    padding: 0 .5rem .1rem;
}

.navbar-pvpaissa-bg {
    background: rgba(0, 0, 0, .69);
}

.navbar-pvpaissa a {
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.navbar-pvpaissa a:hover {
    color: #fff;
    text-decoration: underline;
}

.navbar-pvpaissa .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item.active a {
    color: #c7b198;
}

#navbarLeague li.nav-item.dropdown.show > div {
    background: rgba(199, 177, 152, .33);
}

#navbarLeague .dropdown-item:focus, .dropdown-item:hover {
    color: #c7b198;
    text-decoration: none;
    background-color: rgba(199, 177, 152, .33);
}

/* Carousel */
.carousel-caption {
    background-color: rgba(33, 33, 33, .69);
}

.carousel-caption a {
    color: #fff;
}

.carousel-item img, #eventsHeader img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    object-position: 50% 50%;
}

/* Front Page Cards */
.featured-images.card-img-top {
    width: 100%;
    height: 115px;
    object-fit: cover;
    object-position: 50% 50%;
}

/* Header */
#pvpaissa-header {
    position: relative;
    height: 75vh;
}

#masthead {
    margin: -42px 0 0;
}

/* Footer */
#pvpaissa-footer {
    padding: 1rem 0 2rem;
    background: linear-gradient(#c7b198, #e2dedb) #fff;
}

#pvpaissa-footer a {
    color: rgba(89, 110, 121, 1);
}

#pvpaissa-footer a:hover {
    text-decoration: underline;
}

#menu-footer-nav {
    margin-bottom: 0;
}

#menu-footer-nav .list-group-item {
    background-color: transparent;
    padding: .25rem .75rem;
}

#menu-footer-nav .list-group-item:last-child {
    border-bottom: 0;
}

/* Index News Boxes */
.cleanse-news h3,
div.cleanse-news-posts h5 > a,
.cleanse-news-posts div.card-footer > small > a {
    color: rgba(89, 110, 121, 1);
}

.category-title {
    border-top: none;
}

/* Events --base header-- */
.pageHeader h1 {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}